<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../1.7 Common Files/server.jar!/" />
      <root url="jar://$PROJECT_DIR$/../1.7 Common Files/modlauncher.jar!/" />
      <root url="jar://$PROJECT_DIR$/../1.7 Common Files/javassist.jar!/" />
      <root url="jar://$PROJECT_DIR$/../1.7 Common Files/common.jar!/" />
      <root url="file://$PROJECT_DIR$/../1.7 Common Files/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../1.7 Common Files/lib" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../1.7 Common Files/lib" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../1.7 Common Files/lib" recursive="false" type="SOURCES" />
  </library>
</component>